#navList{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    font-size: 2.5rem; 
   display: flex;
   justify-content: space-around;
   
}
*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    height: 100vh;
    width: 100vw;
    background: azure;
   
  
    

}

.navcontainer{
    width: 100vw ;
    height: 60px;
  background-color: darkgray ;
    
}
/* nav{
    display: flex;
    justify-content: space-around;
} */
#navlogo{
   font-size: 2.8rem; 
   color: white;

}
a{
    text-decoration: none;

    color: azure;
}

    .footerBox{
        background: #0093E9;
        color: azure;
        text-align: center;

    }
    .footerBox p{
        font-size: 2rem;
    }
    main{
        display: flex;
        justify-content: space-evenly;
        background: azure;
    }

    .contentBox{
        background: white;
box-shadow: 0px 0px 30px black;
     
        
        height: 100vh;
        width: 50%;
    }
    .firstsec{
        display: flex;
        justify-content: space-around;

    }
    .text1{
        padding: 100px;
    }
    .text1 ul,ol{
        font-size: 20px;
    }
    .photo1{
        padding: 100px;
        height: 400px;
    }


    .secondsec{
        display: flex;
        justify-content: space-around;

    }
    .text2{
        padding: 100px;
    }
    .text2 ul,ol{
        font-size: 20px;
    }
    .photo2{
        padding: 100px;
        height: 400px;
    }